USE [master]
GO
/****** Object:  Database [sifre_takip_app]    Script Date: 15.06.2022 20:39:15 ******/
CREATE DATABASE [sifre_takip_app]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'sifre_takip_app', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.SQL2017\MSSQL\DATA\sifre_takip_app.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'sifre_takip_app_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.SQL2017\MSSQL\DATA\sifre_takip_app_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [sifre_takip_app].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [sifre_takip_app]
GO
USE [sifre_takip_app]
GO
/****** Object:  Table [dbo].[KULLANICILAR]    Script Date: 15.06.2022 20:39:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KULLANICILAR](
	[kul_RECno] [int] IDENTITY(1,1) NOT NULL,
	[kul_kod] [int] NULL,
	[kul_ad] [nvarchar](50) NULL,
	[kul_pw] [nvarchar](50) NULL,
 CONSTRAINT [PK_KULLANICILAR] PRIMARY KEY CLUSTERED 
(
	[kul_RECno] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SIFRELER]    Script Date: 15.06.2022 20:39:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SIFRELER](
	[sif_RECno] [int] IDENTITY(1,1) NOT NULL,
	[sif_site_adi] [nvarchar](50) NULL,
	[sif_site_url] [nvarchar](50) NULL,
	[sif_kul_adi_mail] [nvarchar](150) NULL,
	[sif_kul_sifre] [nvarchar](50) NULL,
	[sif_notlar] [nvarchar](500) NULL,
	[sif_kayit_tarih] [datetime] NULL,
	[sif_guncelleme_tarih] [datetime] NULL,
 CONSTRAINT [PK_SIFRELER] PRIMARY KEY CLUSTERED 
(
	[sif_RECno] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[KULLANICILAR] ON 

INSERT [dbo].[KULLANICILAR] ([kul_RECno], [kul_kod], [kul_ad], [kul_pw]) VALUES (1, 1, N'MUSTAFA', N'1')
SET IDENTITY_INSERT [dbo].[KULLANICILAR] OFF
USE [master]
GO
